*{margin:0;
    text-decoration: none;
    list-style-type: none;
}


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;800;900&display=swap');

.wrap0{width:100%;background-color: black;}
.wrap1{width:960px; margin: 0 auto;}

.wrap2{width: 100%; background-color: white;}

.wrap4{width:100%; background-color: black;}
.box31{width:683px; margin: 0 auto; padding:404px 0px; 
    text-align: center;}
.box31 img{width:683px;}

.menu{
    position:fixed;
height:100vh;
width:100%;
z-index: 2;
   
}


.bt1{position: absolute; left:5%;top:5%;}
.bt2{position:absolute; right:5%; top:5%;}
.bt3{position:absolute; left:5%; bottom:5%;}
.bt4{position:absolute; right:5%; bottom:5%;}
.bt5{width:100px; height:100px;
    position: absolute; 
    left:50%; 
    top:5%; 
    color:white; 
    background-color: aqua;}

.bt1 img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    filter: drop-shadow( 0px 0px 10px #B1271A);
}
.bt1 img{transition: all 1s;}

.bt2 img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    filter: drop-shadow( 0px 0px 10px #B1271A);
}
.bt2 img{transition: all 1s;}

.bt3 img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    filter: drop-shadow( 0px 0px 10px #B1271A);
}
.bt3 img{transition: all 1s;}

.bt4 img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    filter: drop-shadow( 0px 0px 10px #B1271A);
}
.bt4 img{transition: all 1s;}

.box1{margin: 0 auto;
   width:750px;
   padding-top: 70px;
   text-align: center;
}

    .container1{
        
        width:861px;
        height:696px;
        margin: 0 auto;
        margin-top: 369px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    .item1{
        
        line-height: 0;
        width:324px;
        
    }

    .item2{
        
        line-height: 0;
        width:426px;
    }

    .box2{width:566px;
        margin:0 auto;
        margin-top: 196px;
        text-align: center;
        color:white;}
    
    .box2 p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.5em;
        font-weight:500;
        letter-spacing: -1px;
        line-height: 45px;}

    .box3{
        width:624px;
        margin: 0 auto;
        margin-top: 195px;
        text-align: center;
    }

    .container2{
       
        width:900px;
        height:370px;
        margin: 0 auto;
        margin-top: 162px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
    }

    .item3{
        
        line-height: 0;
        width:370px; 
    }

    .item4{
        color:white;
        width:420px; 
    }

    
    .item4 h1{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.8em;
        font-weight:500;
        letter-spacing: -1px;
        line-height: 45px;
    }
    
    .item4 p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3em;
        font-weight:400;
        letter-spacing: -1px;
        line-height: 45px;
        color:#A2A2A2;
    }

    .container3{
        
        width:900px;
        height:370px;
        margin: 0 auto;
        margin-top: 139px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item5{
        line-height: 0;
        width:370px;
    }

    .item6{
        color:white;
        width:420px;
    }

    .item6 h1{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.8em;
        font-weight:500;
        letter-spacing: -1px;
        line-height: 45px;
    }
    
    .item6 p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3em;
        font-weight:400;
        letter-spacing: -1px;
        line-height: 45px;
        color:#A2A2A2;
    }

    .container4{
        
        width:900px;
        height:370px;
        margin: 0 auto;
        margin-top: 139px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item7{
        
        line-height: 0;
        width:370px;
    }

    .item8{
        color:white;
        width:420px;
    }

    .item8 h1{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.8em;
        font-weight:500;
        letter-spacing: -1px;
        line-height: 45px;
    }
    
    .item8 p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3em;
        font-weight:400;
        letter-spacing: -1px;
        line-height: 45px;
        color:#A2A2A2;
    }

    .box4{
        width:360px;
        margin: 0 auto;
        margin-top: 293px;
        text-align: center;
    }

    
    .container5{
      
        width:960px;
        height:221px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item9{
        
        line-height: 0;
        width:288px;
    }
    .item10{
        
        line-height: 0;
        width:288px;
    }
    .item11{
        
        line-height: 0;
        width:288px;
    }

    .box5{
        width:869px;
        margin: 0 auto;
        margin-top: 293px;
        text-align: center;
    }

    .container6{
         
        width:960px;
        height:326px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item12{
        
        line-height: 0;
        width:278px;
    }
    .item13{
        
        line-height: 0;
        width:278px;
    }
    .item14{
        
        line-height: 0;
        width:278px;
    }

    .box6{
        width:674px;
        margin: 0 auto;
        margin-top: 293px;
        text-align: center;
    }

    .container7{
       
        width:960px;
        height:419px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item15{
        
        line-height: 0;
        width:266px;
    }
    .item16{
        
        line-height: 0;
        width:266px;
    }
    .item17{
        
        line-height: 0;
        width:266px;
    }
    
    .box7{
        width:446px;
        margin: 0 auto;
        margin-top: 293px;
        text-align: center;
    }

    .container8{
       
        width:960px;
        height:505px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item18{
        
        line-height: 0;
        width:288px;
    }
    .item19{
        
        line-height: 0;
        width:288px;
    }
    .item20{
        
        line-height: 0;
        width:288px;
    }

    .box8{
        width:576px;
        margin: 0 auto;
        margin-top: 293px;
        text-align: center;
    }
    .box8 p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3em;
        font-weight:400;
        letter-spacing: -1px;
        line-height: 45px;
        color:white;
    }

    .box9{
        width:483px;
        margin: 0 auto;
        margin-top: 133px;
        text-align: center;
    }


    .box10{
        width:872px;
        margin: 0 auto;
        margin-top: 138px;
        text-align: center;
        padding-bottom: 293px;
    }
    .box10 p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.3em;
        font-weight:400;
        letter-spacing: -1px;
        line-height: 45px;
        color:white;
    }


    .box11{width:480px; margin: 0 auto; padding:319px 0px; 
        text-align: center;}
        .box11 img{width:480px;}

    .box12{width:100%; margin: 0 auto; padding:66px 0px; background-color: #C70C00;
            text-align: center; line-height: 0;}
                        
        

  


@media screen and (max-width:985px) {
    .wrap1{width:90%;}
    .bt1 a img{width:150px;}
    .bt2 a img{width:150px;position:absolute; right:0px;}
    .bt3 a img{width:150px;position:absolute; left:0px; bottom:0px;}
    .bt4 a img{width:150px;position:absolute; right:0px; bottom:0px;}
    .box1{width:100%;}
    .box1 img{width:100%;}
    .container1{
        width:100%; 
        height: 100%; 
        flex-direction: column;
        align-items: center;
        margin-top: 40%;
    }
    
    .item1{width:50%;}
    .item1 img{width:100%;}

    .item2{width:70%; margin-top: 20%;}
    .item2 img{width:100%;}

    .box2{width:100%; margin-top:25%;}
    .box2 p{font-size:1.3em;line-height: 165%;}

    .box3{width:100%; margin-top: 30%;}
    .box3 img{width:100%;}

    .container2{
        width:100%; 
        height: 100%; 
        align-items: center;
        margin-top: 20%;

        
        
    }
    
    .item3{width:90%;}
    .item3 img{width:90%; }

    .item4{width:100%;}
    .item4 p{font-size:1.3em;line-height: 165%;}

    .container3{
        width:100%; 
        height: 100%; 
        align-items: center;
        margin-top: 20%;

        
        
    }
    
    .item5{width:90%;}
    .item5 img{width:90%; }

    .item6{width:100%;}
    .item6 p{font-size:1.3em;line-height: 165%;}

    .container4{
        width:100%; 
        height: 100%; 
        align-items: center;
        margin-top: 20%;

        
        
    }
    
    .item7{width:90%;}
    .item7 img{width:90%; }

    .item8{width:100%;}
    .item8 p{font-size:1.3em;line-height: 165%;}



    .box4{width:100%; margin-top: 40%;}
    .box4 img{width:70%;}

    .container5{
        width:100%; 
        height: 100%; 
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        
    }
    
    .item9{width:70%;}
    .item9 img{width:100%;}

    .item10{width:70%;margin-top: 20%;}
    .item10 img{width:100%;}

    .item11{width:70%;margin-top: 20%;}
    .item11 img{width:100%;}

    .box5{width:100%; margin-top:40%;}
    .box5 img{width:100%;}


    .container6{
        width:100%; 
        height: 100%; 
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        
    }
    
    .item12{width:70%;}
    .item12 img{width:100%;}

    .item13{width:70%;margin-top: 20%;}
    .item13 img{width:100%;}

    .item14{width:70%;margin-top: 20%;}
    .item14 img{width:100%;}

    .box6{width:100%; margin-top: 40%;}
    .box6 img{width:70%;}

    .container7{
        width:100%; 
        height: 100%; 
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        
    }
    
    .item15{width:70%;}
    .item15 img{width:100%;}

    .item16{width:70%;margin-top: 20%;}
    .item16 img{width:100%;}

    .item17{width:70%;margin-top: 20%;}
    .item17 img{width:100%;}

    .box7{width:100%; margin-top: 40%;}
    .box7 img{width:70%;}

    .container8{
        width:100%; 
        height: 100%; 
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        
    }
    
    .item18{width:70%;}
    .item18 img{width:100%;}

    .item19{width:70%;margin-top: 20%;}
    .item19 img{width:100%;}

    .item20{width:70%;margin-top: 20%;}
    .item20 img{width:100%;}

    .box8{width:100%; margin-top:25%;}
    .box8 p{font-size:1.3em;line-height: 165%;}

    .box9{width:100%; margin-top: 20%;}
    .box9 img{width:100%;}

    .box10{width:100%; margin-top:25%;padding-bottom: 40%;}
    .box10 p{font-size:1.3em;line-height: 165%;}

    .box11{width:100%; padding:40% 0%;}
    .box11 img{width:70%;}

    .box12{width:100%; padding: 10% 0;}
    .box12 img{width:60%;}

    .box31{width:100%; padding: 440px 0px;}
    .box31 img{width:80%;}










    

 

    
}

@media screen and (max-width:750px) {

.container2{
    width:100%; 
    height: 100%; 
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    
}

.item3{width:70%;}
.item3 img{width:100%;}

.item4{width:100%; margin-top: 10%; text-align: center;}
.item4 h1{font-size:1.5em;line-height: 165%;}
.item4 p{font-size:1.3em;line-height: 165%;}

.container3{
    width:100%; 
    height: 100%; 
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    
}

.item5{width:70%;}
.item5 img{width:100%;}

.item6{width:100%; margin-top: 10%;text-align: center;}
.item6 h1{font-size:1.5em;line-height: 165%;}
.item6 p{font-size:1.3em;line-height: 165%;}

.container4{
    width:100%; 
    height: 100%; 
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    
}

.item7{width:70%;}
.item7 img{width:100%;}

.item8{width:100%; margin-top: 10%;text-align: center;}
.item8 h1{font-size:1.5em;line-height: 165%;}
.item8 p{font-size:1.3em;line-height: 165%;}

}